@using global::Dashboard.Components.Layout

@inherits LayoutComponentBase

@namespace Dashboard.Components.Layout

<NavMenu />

<div class="page-body">
    <div class="container pt-4 pt-md-4 pb-5">
        @Body
    </div>
</div>
