@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager


<header>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Joris Reynes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNavbar">
                <!-- Liens gauche (fixes) -->
                <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="CV">CV</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Websites">Creations</a></li>
                    <li class="nav-item"><a class="nav-link" asp-controller="Articles" asp-action="Index">Articles</a></li>
                </ul>

                <!-- Liens droite -->
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item me-2">
                        <a href="#" class="nav-link d-flex align-items-center" id="themeToggleBtn" title="Basculer le style" aria-label="Basculer le style">
                            <i id="themeIcon" class="bi bi-circle-half fs-5"></i>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                    }


                    @if (!(User.Identity?.IsAuthenticated ?? false))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Connexion</a>
                        </li>
                    }
                    else
                    {
                        var userName = UserManager.GetUserName(User);

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @userName
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Register">Inscription</a></li>
                                <li>
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="dropdown-item">Déconnexion</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>