bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/Sandbox
/.vs/ProjectEvaluation
/.vs/Dashboard
/.vs
/Dashboard/App_Data/blog.db
/Dashboard/App_Data/blog.db-shm
/Dashboard/App_Data/blog.db-wal
/Dashboard/appsettings.Development.json
/.env
