/* Élément fade-in par défaut */
.item {
    opacity: 0;
    transition: opacity 1s ease;
    margin: 150px 0px;
    padding: 30px;
    background: rgba(60, 60, 60, .5);
    border-radius: 20px;
}

    /* Quand l'élément devient visible */
    .item.fade-in {
        opacity: 1;
    }

img {
    width: 100%;
}

.removed {
    color: red;
}
