@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="left">
        <p id="title">Bienvenue sur jorisreynes.com</p>
    </div>
    <div class="right">
        <p>Je m'appelle Joris Reynes, et je suis développeur</p>
        <p>Vous pouvez voir mon CV ou voir les sites que j'ai créés</p>
    </div>
</div>

