@{
    ViewData["Title"] = "Index";
}

<div class="container text-center">
    <div class="left">
        <p id="title">Bienvenue sur jorisreynes.com</p>
    </div>

    <div class="card d-inline-block" style="margin-top: 6rem">
            <p>Je m'appelle Joris Reynes, et je suis développeur</p>
            <p>Vous pouvez <a class="btn m-2" asp-controller="Home" asp-action="CV">Voir mon CV</a> ou <a class="btn m-2" asp-controller="Home" asp-action="Websites">Voir mes créations</a></p>
    </div>
</div>

