@{
    ViewData["Title"] = "Index";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="left">
        <h1 id="title">Bienvenue sur jorisreynes.com</h1>
    </div>
    <div class="right">
        <h2>Je m'appelle Joris Reynes, et je suis développeur</h2>
        <h2>Vous pouvez voir mon CV ou voir les sites que j'ai créés</h2>
        <h2>Vous avez aussi un lien vers mon GitHub et mon LinkedIn</h2>
    </div>
</div>

