name: Build & Push (Docker Hub)

on:
  push:
    branches: [ master ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dashboard/Dockerfile        
          push: true
          tags: |
            joris81/dashboard:latest
            joris81/dashboard:main
            joris81/dashboard:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
